.chat-box {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 240px;
  min-height: 100px;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.bot-icon {
  width: 52px;
  height: 52px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 90px;
  transform: translate(0, -35px);
}

.chat-text-mssg {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #333;
}

.welcomeCloseBtn {
  position: absolute;
  width: 26px;
  right: 0;
  top: 0;
}
