.chatBot-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.chatBot-heading {
  font-size: 1.5rem;
  color: #333;
}

.chatBot-customization-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.form-formation {
  min-width: 300px;
}

.pickers-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 250px;
}

.welcome-message-box {
  padding-left: 50px;
  margin-top: 20px;
}

@media (max-width: 360px) {
  .chatBot-heading {
    font-size: 1rem;
  }

  .save-btn-timer {
    width: 100%;
  }

  .message-textarea {
    min-height: 50px;
  }
}

@media (max-width: 910px) {
  .chatBot-customization-options {
    flex-direction: column;
    align-items: center;
  }

  .welcome-message-box {
    padding-left: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
  }

  .chatBot-container {
    justify-content: center;
    align-items: center;
  }

  .form-formation,
  .pickers-container,
  .color-picker-container,
  .message-customizer-container,
  .timer-container,
  .bg-picker-container,
  .welcome-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
