.analytics-container {
  padding: 0 20px;
  color: #eee;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100%;
}

.analytics-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: #101111;
}

.chart-wrapper {
  width: 60%;
  max-width: 100%;
  height: 450px;
}

.responsiveContainer {
  width: 100%;
  max-width: 100%;
  height: 450px;
  margin: 0 auto;
}

.tooltip {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  box-shadow: 0 0 6px rgba(0, 255, 136, 0.6);
}

.chart-title {
  font-size: 1.25rem;
  margin-bottom: 12px;
  color: #00ff88;
}

.metric-card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 255, 136, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 100%;
}

.metric-info {
  flex: 1 1 60%;
  min-width: 250px;
}

.metric-info h3 {
  color: #00ff88;
  margin-bottom: 8px;
}

.metric-info p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: black;
  max-width: 100%;
}

.metric-value {
  flex: 1 1 30%;
  font-size: 2rem;
  font-weight: bold;
  color: #00ff88;
  margin-top: 12px;
  text-align: center;
}

.circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  flex: 1 1 30%;
}

.circular-chart {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  stroke: #333;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: #00ff88;
  stroke-width: 3.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.6s ease;
}

.percentage {
  fill: #00ff88;
  font-size: 6px;
  font-weight: bold;
}

.no-data-msgs{
  color:red;
  font-size: 18px;
  margin: auto;
}

@media (max-width: 900px) {
  .analytics-container {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .chart-wrapper {
    height: 350px;
    width: 100%;
  }
  .metric-card {
    flex-direction: column;
    width: 100%;
  }
  .metric-value {
    text-align: left;
    margin-top: 8px;
  }

  .responsiveContainer {
    height: 300px;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .analytics-title {
    font-size: 1.25rem;
  }
  .chart-wrapper {
    height: 300px;
  }
  .metric-info p {
    font-size: 0.85rem;
  }
  .circular-chart {
    width: 70px;
    height: 70px;
  }
}

.no-data-msg{
  color:#101111;
  margin: auto;
  font-size: 18px;
}

@media (max-width: 480px) {
  .analytics-container {
    padding: 0 10px;
  }
  .chart-wrapper {
    height: 250px;
  }
  .metric-card {
    padding: 12px;
  }
  .metric-info h3 {
    font-size: 1rem;
  }
  .metric-info p {
    font-size: 0.8rem;
  }
  .metric-value {
    font-size: 1rem;
  }
}
