.modal-box {
  background: #fff;
  padding: 0px 16px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 141px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-message {
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.modal-actions {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-bottom: 12px;
}

.btn {
  padding: 10px 40px;
  border: none;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn.cancel {
  background: #e0e0e0;
  color: #333;
}

.btn.confirm {
  background: #184e7f;
  color: white;
}
