.chat-container1 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  min-width: 280px;
  min-height: 200px;
  font-family: sans-serif;
  z-index: 1000;
}

.chat-icon {
  width: 52px;
  height: 52px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 18px;
}

.chat-modal {
  width: 410px;
  border-radius: 12px;
  background-color: #eeeeee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  position: relative;
  margin-bottom: 50px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #002c5f;
  padding: 6px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: white;
}

.hubly-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.hubly-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
}

.chat-body {
  max-height: 320px;
  overflow-y: auto;
  padding: 10px;
}

.chat-bubble {
  background-color: #fff;
  color: #000;
  padding: 12px 8px;
  border-radius: 16px;
  max-width: 60px;
  margin-left: auto;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.msg-by-user {
  color: #666;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.msg-by-admin {
  color: #267dcf;
  margin: 0;
}

.chat-modal h3 {
  font-size: 0.9rem;
  color: #131212;
}

.intro-form {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: auto;
  gap: 6px;
  padding: 0 10px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 8px;
}

.intro-form label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #555;
}

.intro-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
}

.submit-btn {
  margin-top: 10px;
  padding: 12px;
  background-color: #184e7f;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.bot-logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 30%;
}

.chat-input {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #eee;
  position: relative;
}

.chat-input input {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
}

.send-icon {
  width: 36px;
  height: 36px;
  margin-left: 10px;
  cursor: pointer;
}

.chat-bubble {
  max-width: 70%;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 12px 8px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.send-btn-user {
  border: none;
  background-color: white;
  padding: 1px;
  position: absolute;
  right: 4px;
}
