* {
  box-sizing: border-box;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  height: 100vh;
  margin-left: 94px;
  width: calc(100% - 94px);
}
