.starter-card {
  background-color: aliceblue;
  color: rgb(31, 29, 29);
  padding: 30px;
  padding-top: 10px;
  border-radius: 12px;
  width: 460px;
  text-align: left;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", sans-serif;
}

.starter-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.starter-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.starter-price {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #256cb5;
}

.starter-price span {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

.starter-includes {
  font-size: 18px;
  margin-bottom: 10px;
}

.starter-features {
  list-style: none;
  padding: 0;
  height: 260px;
}

.starter-features li {
  margin: 8px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.starter-button {
  background-color: #f7eeee;
  color: #032a52;
  border: 1px solid #57595c;
  padding: 20px 48px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 28px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
}

.starter-button:hover {
  background-color: #256cb5;
  color: #fff;
  box-shadow: 0 0 10px rgba(37, 108, 181, 0.5);
}
